models/
data/*
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
weights/
eval_video/

# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files

policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt

# assets/objects/objaverse/pencil is deleted from assets/objects and I keep it in ./ for future use.
pencil/* 

policy/pi0/processed_data/*

policy/pi0/training_data/*

policy/pi0/lerobot_data/*